extends layout

block content
  .row
    .col-sm-6
      h1 Math Wars
      p.lead Post Questions and Compete with your friends
      hr
    .col-sm-6
      .row
        .col-sm-12
          h2 Post Questions
          a.btn.btn-default(href='/PostQuestions', role='button') View details »
        .col-sm-12
          h2 1v1 competition
          a.btn.btn-default(href='/1v1', role='button') View details »
