extends layout

block content
  .row
    .col-sm-6
      h1 Math Wars
      p.lead Post Questions and Compete with your friends
      hr
    .col-sm-6
      .row
        .col-sm-12
          h2 Compose
          p Compose a question and post it
          a.btn.btn-default(href='/Compose', role='button') View details »
        .col-sm-12
          h2 View and Answer Questions
          p view questions and submit answers 
          a.btn.btn-default(href='/viewQuestions' role='button') View details »
        .col-sm-12
          h2 1v1 competition
          p choose or compose questions and setup a competition with your friends!
          a.btn.btn-default(href='/1v1', role='button') View details »
  .row
    #chat.col-sm-3
      form.form-inline.chatInput
        .form-group
          .input-group
            input.form-control(type='text', placeholder='Msg')
        button.btn.btn-primary(type='submit') Send
