@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  font-family: "Times New Roman", Georgia, Serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// Post Questions page
//---------------------------

#inputQuestionWrapper, #wmd-input, #Answer, #inputAnswerWrapper {
  width: 100%;
  height: 150px;
  font-family: "Times New Roman";
}

#wmd-preview, .wmd-preview, #Title, #Topic {
  font-family: "Times New Roman";
}

#submitQuestion {
  margin-top: 10px;
}

#mathSymbolWrapper {
  // position: fixed;
}

.wmd-button > span {
    background-image:
      url('/wmd-buttons.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

/*
*Competition Page CSS
*/
.funkyradio {

    div {
        clear: both;
        overflow: hidden;
    }

    label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }

    input[type="radio"],
    input[type="checkbox"] {

        &:empty {
            display: none;

            ~ label {
                position: relative;
                line-height: 2.5em;
                text-indent: 3.25em;
                margin-top: 2em;
                cursor: pointer;
                user-select: none;

                &:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 2.5em;
                    background: #D1D3D4;
                    border-radius: 3px 0 0 3px;
                }
            }
        }

        &:hover:not(:checked) ~ label {
            color: #888;

            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #C2C2C2;
            }
        }

        &:checked ~ label {
            color: #777;

            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #333;
                background-color: #ccc;
            }
        }

        &:focus ~ label:before {
            box-shadow: 0 0 0 3px #999;
        }
    }

    &-default {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #333;
                background-color: #ccc;
            }
        }
    }

    &-primary {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #337ab7;
            }
        }
    }

    &-success {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5cb85c;
            }
        }
    }

    &-danger {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #d9534f;
            }
        }
    }

    &-warning {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #f0ad4e;
            }
        }
    }

    &-info {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5bc0de;
            }
        }
    }
}

.introduction {
  width: 100%;
  height: 70vh;
  // background-image: url("https://sta.uwi.edu/fst/dms/images/MATHEMATICSPIC_000.jpg");
  background-image: url('http://www.mq.edu.au/__data/assets/image/0009/103599/Mathematics-929.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-color: red;
}

.homeImage {

}

.page-header #composeImage {
  width: 50px;
  height: 50px;
}

#questionPreview {
  // margin: 0;
}
// .question-main-wrapper {
//   margin-bottom: 10px;
// }

.question-container {
  border: 1px solid rgb(191,191,191);
  border-radius: 5px;
  position:relative;
  background-color: transparent;
  text-align: left;
  margin-bottom: 5px;
}

.question-container:hover{
  transform: scale(1.02);
}

.question-container:focus {
  outline:none;
}

.question-container:after {
  transform: scale(1);
}

.question-created-on {
  position: absolute;
  bottom: 10%;
  right: 4%;
}

.question-content-container {
  padding: 10px;
}

.question-title {
  font-weight: 600;
  font-size: 1.2em;
}

.answer-view-container {
  margin-top: 20px;
  text-align: center;
}

#mathSymbolWrapperQuestion button, #mathSymbolWrapperAnswer button{
  min-width: 60px;
  height: 60px;
}

#preview, #previewAnswer {
  min-height: 40px;
}

.detail-container {
  padding: 10px;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}

.created-by {
  text-align: right;
}

.answer-header {
  margin-top: 30px;
  margin-bottom: 10px;
}

#deleteQuestion {
  margin-top: 10px;
}
