extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | View Questions
  .row#questionPreview
    each question in questions
      .col-sm-3
        form(action='/questionDetails/'+question._id, method='get')
          button(name=id value=question._id,type='submit')
            p= question.question.content
            p= 'created on'+" "+ question._id.getTimestamp().getDate() + '-' + parseInt(question._id.getTimestamp().getMonth()+1) + '-' + question._id.getTimestamp().getFullYear() 
