extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | View Questions
  .row#questionPreview
    - for (var x=0; x<questions.length; x++)
      .col-sm-3
        a(href='#') #{questions[x].question}
        p created on #{questions[x]._id.getTimestamp()}
