extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | Compose
  #editform.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#promptMessageTitle.modal-title Success
        #promptMessage.modal-body
          | Post Successful
        .modal-footer
          button.btn.btn-primary.close(type='button', data-dismiss='modal') Close
  .row
    .col-sm-7
      h4 Question
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for='questionTitle') Title
          .col-sm-10
            input#Title.form-control(type='text', placeholder='Title')
        .form-group
          label.col-sm-2.control-label(for='questionTopic') Topic
          .col-sm-10
            input#Topic.form-control(type='text', placeholder='example: Integration')

      #inputQuestionWrapper.input-group
          textarea#wmd-input.wmd-input.processed.form-control(type='text', placeholder='type your question here')
    .col-sm-5
      
  .row
    .col-sm-7
      h4 Answer
      #inputAnswerWrapper.input-group
          textarea#Answer.wmd-input.processed.form-control(type='text', placeholder='type your question here')
    .col-sm-5
  button#submitAll.btn.btn-primary(type='submit') Submit
  button#saveQuestion.btn.btn-primary(type='submit') Save As Draft
  
