extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | Compose
  #editform.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#promptMessageTitle.modal-title Success
        #promptMessage.modal-body
          | Post Successful
        .modal-footer
          button.btn.btn-primary.close(type='button', data-dismiss='modal') Close
  .row
    .col-sm-7
      h4 Question
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for='questionTitle') Title
          .col-sm-10
            input#Title.form-control(type='text', placeholder='Title')
        .form-group
          label.col-sm-2.control-label(for='questionTopic') Topic
          .col-sm-10
            input#Topic.form-control(type='text', placeholder='example: Integration')

      #inputQuestionWrapper.input-group
          textarea#wmd-input.wmd-input.processed.form-control(type='text', placeholder='type your question here')
    .col-sm-5
      #mathSymbolWrapperQuestion
        button#theta.btn.btn-primary(type='submit') $\theta$
        button#cosine.btn.btn-primary(type='submit') $\cos$
        button#sine.btn.btn-primary(type='submit') $\sin$
        button#pi.btn.btn-primary(type='submit') $\pi$
        button#alpha.btn.btn-primary(type='submit') $\alpha$
        button#beta.btn.btn-primary(type='submit') $\beta$
        button#mu.btn.btn-primary(type='submit') $\mu$
        button#power.btn.btn-primary(type='submit') $x^{n}$
        button#vectorial.btn.btn-primary(type='submit') !
        button#nChooseR.btn.btn-primary(type='submit') $ \binom{n}{r}$
        button#fraction.btn.btn-primary(type='submit') $\frac{x}{y}$
        button#squareRoot.btn.btn-primary(type='submit') $\sqrt{x}$
        button#summation.btn.btn-primary(type='submit') $\displaystyle\sum_{r=1}^{n}$
        button#integrationDefinite.btn.btn-primary(type='submit') $\int_0^1 f(x)\,\mathrm{d}x$
        button#integration.btn.btn-primary(type='submit') $\int f(x)\,\mathrm{d}x$
        button#modulus.btn.btn-primary(type='submit') $| x |$
        button#dydx.btn.btn-primary(type='submit') $\frac{\mathrm dy}{\mathrm d x}$
        button#dSpacedx.btn.btn-primary(type='submit') $\frac{\mathrm d}{\mathrm d x}\left( f(x) \right)$
        button#setReal.btn.btn-primary(type='submit') $\mathbb{R}$
        button#setInteger.btn.btn-primary(type='submit') $\mathbb{Z}$
        button#forAll.btn.btn-primary(type='submit') $\forall$
        button#belongTo.btn.btn-primary(type='submit') $\in$
  .row
    .col-sm-7
      h4 Answer
      #inputAnswerWrapper.input-group
          textarea#Answer.wmd-input.processed.form-control(type='text', placeholder='type your question here')
    .col-sm-5
      #mathSymbolWrapperAnswer
        button#theta.btn.btn-primary(type='submit') $\theta$
        button#cosine.btn.btn-primary(type='submit') $\cos$
        button#sine.btn.btn-primary(type='submit') $\sin$
        button#pi.btn.btn-primary(type='submit') $\pi$
        button#alpha.btn.btn-primary(type='submit') $\alpha$
        button#beta.btn.btn-primary(type='submit') $\beta$
        button#mu.btn.btn-primary(type='submit') $\mu$
        button#power.btn.btn-primary(type='submit') $x^{n}$
        button#nChooseR.btn.btn-primary(type='submit') $ \binom{n}{r}$
        button#fraction.btn.btn-primary(type='submit') $\frac{x}{y}$
        button#squareRoot.btn.btn-primary(type='submit') $\sqrt{x}$
        button#summation.btn.btn-primary(type='submit') $\displaystyle\sum_{r=1}^{n}$
        button#integrationDefinite.btn.btn-primary(type='submit') $\int_0^1 f(x)\,\mathrm{d}x$
        button#integration.btn.btn-primary(type='submit') $\int f(x)\,\mathrm{d}x$
        button#modulus.btn.btn-primary(type='submit') $| x |$
        button#dydx.btn.btn-primary(type='submit') $\frac{\mathrm dy}{\mathrm d x}$
        button#dSpacedx.btn.btn-primary(type='submit') $\frac{\mathrm d}{\mathrm d x}\left( f(x) \right)$
        button#setReal.btn.btn-primary(type='submit') $\mathbb{R}$
        button#setInteger.btn.btn-primary(type='submit') $\mathbb{Z}$
        button#forAll.btn.btn-primary(type='submit') $\forall$
        button#belongTo.btn.btn-primary(type='submit') $\in$
  button#submitAll.btn.btn-primary(type='submit') Submit
  button#saveQuestion.btn.btn-primary(type='submit') Save As Draft
  
