extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | Posting Questions
      
  .input-group
      input.form-control(type='text', placeholder='Msg')
  button.btn.btn-primary(type='submit') Send
  
